// Custom variables
$primary: #605F5F; // Primary text color
$secondary: #FFFFFF; // Secondary text color
$light: #EEEDF0; // Primary background color


// Import bootstrap styles
@import "../node_modules/bootstrap/scss/bootstrap";