.collapsible .content {
    padding: 6px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}
.collapsible .header {
    background-color: rgb(200, 200, 200);
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(220, 220, 220);
}
.collapsible .header .title {
    font-weight: 400;
    font-size: 20px;
    color: 'black';
    font-weight: bold;
}
.preferences label {
    display: block;
    padding-bottom: 4px;
}

.container {
    display: flex;
  }
  h1,
  .btn,
  #input-field {
    flex: 1;
  }  


  .div-2 {
    background-color: rgb(240, 240, 240);
  }  

  .background-custom {
    background-color: rgb(247, 245, 246);
  }
  .background-blue {
    background-color: rgb(97, 97, 120);
  }